@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding : 0;
  background-color: #1676aa80;
  padding : 0;
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
  width: 100vw;
  height: 100vh;
}
h1{ 
  text-align: center;
  text-decoration:underline;
  margin: 10rem;
}
.addTask{
 
  margin: 10px;
  
}
.addTask-input{
 padding: 16px;
 height: 3vh;
 width: 100%;
 outline: none;
 border-radius: 3px;

}
.addTask-button {
  margin: 20px;
  border: 1px solid grey;
  padding: 5px 5px; 
  background-color: #426b8280; 
  color: white; 
  cursor: pointer;
  border-radius: 3px; 
}

.addTask-button:hover {
  background-color: #7f8f9780 
}
.todolist{
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  padding: 1px;
  margin: 8px;
  border-radius: 3px;
}
.checkbox{
  margin: 8px;
}
.todolist-button{
  margin: 19px;
}
.line-through {
  text-decoration: line-through;
  margin: 8px;
}

.cursor-pointer {
  cursor: pointer;
  margin: 8px;
}